.btn {
  padding: 6px 12px;
}

.kudos-icon {
  color: gold;
}

.card {
  min-height: 520px;
}

.height-chop-300 {
  max-height: 300px;
  overflow-y: scroll;
}

.no-content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
