<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ dashboardtext.badgeTimeline }}</h4>
    <div
      class="card-body scrollbar scrollbar-primary"
      infinite-scroll
      [scrollWindow]="false"
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()"
    >
      <div class="profiletimeline">
        <div *ngFor="let activity of activites">
          <div class="sl-item m-l-0">
            <div class="sl-left">
              <img
                [src]="activity?.employee.profilePictureUrl"
                alt="user"
                class="img-circle"
              />
            </div>
            <div class="sl-right">
              <div>
                <a href="#" class="link">{{ activity?.employee.firstName }}</a>
                <span class="sl-date">
                  {{ activity?.employeeBadge.dateTime | dateAgo }}</span
                >
                <p>
                  {{ dashboardtext.recentlyWon }}
                  {{ activity?.employeeBadge.badge.type }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <i class="loader fa fa-spinner fa-spin offset-md-6" *ngIf="!finished"></i>
      <span class="badge badge-info offset-md-4 text-white" *ngIf="finished">{{
        dashboardtext.noData
      }}</span>
    </div>
  </div>
</div>
